/***GLOBAL***************/
*{margin: 0 auto; padding: 0;}
body{
	display: flex;
  	justify-content: center;
  	align-items: center;
	overflow::; hidden;
	background-color: #161616;
	font-family: 'Comfortaa', cursive;
	color : #e8ffe8;
	text-align: center;
	text-shadow: 1px 1px 4px #000000;
}
canvas {
	display: block;
 }

.btn{
	margin: 10px;
	padding: 8px 12px;
	background-color: #88d899;
	text-align: center;
	color: white;
	font-size: 16px;
	font-weight: bold;
	outline: none;
	border: 3px solid #111111;
	opacity: 0.9;
}
.btn:hover{ opacity: 1; }
.btn:active{ border: 3px solid #FFF; }